body {
    background: #FFFFFF no-repeat scroll 50% 50%;
}

ul li {
    display: block;
    padding: 10px;
    height: 32px;
    width: 32px;
    background: transparent no-repeat scroll 50% 50%;
}
ul li:hover {
    background-color: #fdfaf1;
    cursor: pointer;
}
ul li#capture-visible {
    background-image: url('img/capture-visible.png');
}
ul li#capture-entire {
    background-image: url('img/capture-entire.png');
}
ul li.disabled {
    opacity: 0.5;
}
ul li.disabled:hover {
    cursor: default;
    background-color: transparent;
}

body.busy {
    height: 50px;
    width: 50px;
    background-image: url('img/loading.gif');
}
body.busy ul {
    display: none;
}
